.nav-sidebar{
    background-color:#37474f;
    padding-bottom: 100%;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .toolbar{
      background-color: #37474f;
      color: whitesmoke;
      
    
  }
  .example-container {
    width: auto;
    
  height: 92vh;

  
  }
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: left;
    justify-content: left;
    
    
  }
  
  .mat-drawer {
    background-color:#d1e1f3;
    color: rgba(0,0,0,.87);
}
  .example-sidenav {
    padding: 20px;
  }