<mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>
       
      </mat-card-title>
      
    </mat-card-header>
   
    <mat-card-content>
      
        <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="Task Name">
            </mat-form-field>
          </div>
          
          <form class="example-form">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Select User" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
            

            <mat-form-field class="example-full-width">
                <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              
              
              <mat-form-field class="example-full-width">
                  <mat-select placeholder="Select the Time Weight" [(ngModel)]="selectedValue" name="food">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      
      <button mat-button>Create</button>
    </mat-card-actions>
  </mat-card>

  
  