<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="something"[(ngModel)]="account.email">
          <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12" >
        <input id="password" type="password" class="validate"name="something" [(ngModel)]="account.password"> 
        <label for="password">Password</label>
      </div>
    </div>
    <a class="waves-effect waves-light btn" (click)="login()">Login</a>
   
  </form>
</div>